/*
	Weight axis: 100 – 700
	Width axis: 85 – 100
*/
@font-face {
	font-family: "IBM Plex Sans Roman";
	/* src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf"); */
	src: url("Naailafh_Khalifa_Variable2df-Regular.ttf");
}

/* * {
	box-sizing: border-box;
} */

  /* body {
	font-family: "IBM Plex Sans Roman", Times;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	background-color: #DCEDC8;
} */

html, body {
	margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

header {
  position: fixed;
  top: 260px;
  left: 50%;
  transform: translate(-50%, -50%);
	/* display: flex; */
	align-items: center;
	justify-content: center;
	text-align: center;
	min-width: 100%;


}



h1 {
	font-family: "IBM Plex Sans Roman", Times;
	color: rgb(239, 252, 101);
	line-height: 60px;
	font-variation-settings: 'wght' 400, 'wdth' 0;
}

h1 .char {
	--delay: calc((var(--char-index) + 1) * 50ms);
	animation: breathe 5000ms infinite both;
	animation-delay: var(--delay);
}

/* h1:hover span {
	animation-play-state: paused;
} */

@keyframes breathe {
	0% {
		font-variation-settings: 'wght' 400, 'wdth' 0;
		font-size: 21vw;
	}
	60% {
		font-variation-settings: 'wght' 0, 'wdth' 400;
		font-size: 21vw;
	}

	100% {
		font-variation-settings: 'wght' 400, 'wdth' 0;
		font-size: 21vw;

	}
}


@font-face {
  font-family: flower;
  src: url(VanDijMTIta-Italics-Regular.otf);
}

input.one {
      font-family: "flower";
      background: none;
      color: rgb(239, 252, 101);
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
      border: none;
      position: fixed;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      /* width: 200px; */
}

input.two {
      font-family: "flower";
      background: none;
      color: rgb(239, 252, 101);
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
      border: none;
      position: fixed;
      top: 63%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      /* width: 200px; */
}

input.three {
      font-family: "flower";
      background: none;
      color: rgb(239, 252, 101);
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
      border: none;
      position: fixed;
      top: 71%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      /* width: 200px; */
}


footer {
  color: rgb(239, 252, 101);
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  font-family: "flower";
  font-size: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  align-items: center;
  line-height: 1px;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
